/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* белый текст #FFFFFF */
/* акцент фон или текст #2196F3 */
/* вторичный цвет фона #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --pimary-white-color: #FFFFFF;
  --fon-color: #F5F4FA;
}

body {
  background-color: var(--pimary-white-color);
  color: var(--primary-text-color);
  
  font-family: Roboto, sans-serif;
}
.tim {
  background-color: var(--fon-color);
}
.list {
  list-style: none;
}
ul {
  list-style: none;
}

/* Logo */
.h .logo {
  color: var(--title-text-color);
  font-family: Raleway, cursive;
  

font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.logo .accent {
  color: var(--accent-color);
}

.f .logo {
  color: var(--pimary-white-color);
  font-family: Raleway, cursive;

font-size: 22px;
line-height: 1.18;
letter-spacing: 0.03em;
}

/* site nav */
.site-nav .list {
  color: var(--title-text-color);

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.site-nav .link:hover, 
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: var(--pimary-white-color);
  background-color: var(--fon-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.avto-h .button {
  color: var(--pimary-white-color);
  background-color: var(--accent-color);
  
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Преимущества без заголовка */
.feature-list .title{
  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list .info {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Все заголовки */
.section-title {
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Чем занимаемся - Приложения */
.application .app-text {
  color: var(--pimary-white-color);
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Наша команда */
.tim-list .title{
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* Button page 2 */
.avto-nav .button {
  color: var(--title-text-color);
  
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.avto-nav .button:hover, 
.avto-nav .button-primary:focus {
  background-color: var(--accent-color);
  color: var(--pimary-white-color);
}

/* ПОРТФОЛИО */

/* Название проектов */

.section-name {
  color: var(--title-text-color);

  font-size: 18px;
 line-height: 2;
 letter-spacing: 0.06em;
}

/* Сектор проекта */

.section .resource {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* Текст рыба */

.section .text-fish {
  color: var(--pimary-white-color);
  background-color: var(--fon-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}

/* Футер заливка */

/* Адрес */

.f .address {
  color: var(--pimary-white-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Адрес прозрачный */

.f .transparent {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Заголовки */

 .f .big-t {
   color: var(--pimary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Finish */

.f .finish {
  color: rgba(255, 255, 255, 0.4);

  font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.03em;
}
footer {
  background-color: #2f303a;
}